
#DatosP{
    color: black;
    font-size: 60px;
    font-family: monospace;

}

#ulcolor{
 
    padding-left: 25%;
   color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
li{
    color: blue;
}