

#DatosP{
    color: black;
    font-size: 60px;
    font-family: monospace;

}

#ulcolor{
 
    padding-left: 15%;
  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #ulcolor1{
 
        padding-left: 45%;
      
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
#divvideo{
    padding-left: 15%;
}
